.container-small-card{
  width: 100%;
  margin-bottom: 15px;
}

.container-small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card-photo > img {
  width: 320px;
  min-width: 320px;
  margin-right: 20px;
}

.small-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.container-small-card-separator{
  margin-top: 15px;
}

.small-card-description {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container-small-card a:hover {
  color: rgb(205, 21, 144);
}
